<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>248263650750-765341681hg8bhaus7487g3j5veodggj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.248263650750-765341681hg8bhaus7487g3j5veodggj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>248263650750-gib1oo479cqae14pjshgod3tcpofhctn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDGCj8r4M7UzTgyxKHGxN2lnzMdvkHekro</string>
	<key>GCM_SENDER_ID</key>
	<string>248263650750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.parkApp</string>
	<key>PROJECT_ID</key>
	<string>parking-app-b18a3</string>
	<key>STORAGE_BUCKET</key>
	<string>parking-app-b18a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248263650750:ios:d48622f4aebfc9cec29def</string>
</dict>
</plist>